<section>
  <h2>O que você irá aprender?</h2>
  <p>
    O intuito deste curso online é esclarecer e mostrar na prática o uso do TDD no desenvolvimento de software. Mostraremos um novo jeito de desenvolver onde o teste ganha importância fundamental no software e na qualidade dele.
  </p>
  <p>
    Utilizaremos a linguagem Ruby para prática do TDD em conjunto com o <em>framework</em> de teste RSpec e outras ferramentas auxiliares, como o <em>shoulda</em> e o <em>factory girl</em>. O RSpec nos ajudará a testar e organizar o código de uma forma elegante, limpa e descritiva. Abordaremos vários tópicos importantes do RSpec, como <em>matchers</em>, <em>contexts</em>, <em>subject </em> e <em>let</em>, além de formas mais rápidas e modularizadas de testes com <em>Stubs</em>, <em>Mocks</em> e <em>Shared Examples</em>.
  </p>
  <p>
    Ao fim do curso você será capaz de entender as vantagens de usar o TDD para guiar o desenvolvimento e os ganhos que este uso traz ao seu software e ao custo dele. Você entederá a filosofia do TDD, bem como poderá utilizá-lo independente de linguagem e <em>framework</em>, além de aprender boas práticas na escrita de testes e se familiarizar com Ruby e RSpec. Através do projeto final você receberá um <em>feedback</em> sobre seu código e dicas de como melhorá-lo.
  </p>
</section>

<section>
  <h2>Ementa e carga horária</h2>
  <p>
    O curso terá uma carga horária total de <strong>28 horas</strong>, esta quantidade se refere ao total de horas necesssárias, em média, para a conclusão do curso. Portanto, isto inclui o tempo das aulas, bem como o tempo utilizado para resolução de atividades.
  </p>
  <p>As aulas serão repletas de exemplos e exercícios práticos.</p>

  <ol class="schedule">
    <li class="module">
      <div class="duration">1h</div>
      <div class="info">
        <h3 class="module-title">Introdução ao Curso</h3>
        <p class="module-description">Será apresentada a metodologia utilizada no curso, bem como o ambiente educacional utilizado (o <a href="http://redu.com.br/" target="_blank" title="Redu">Redu</a>) e o sistema de tutoria, discussão e esclarecimento de dúvidas.
        </p>
      </div>
    </li>
    <li class="module">
      <div class="duration">1h</div>
      <div class="info">
        <h3 class="module-title">Introdução ao TDD</h3>
        <p class="module-description">Neste momento, será explicado a motivação para o surgimento do TDD e o que ele siginifica. Também serão explicitados os custos e benefícios de se adotar este processo, além de breves dicas sobre boas práticas.</p>
      </div>
    </li>
    <li class="module">
      <div class="duration">4h</div>
      <div class="info">
        <h3 class="module-title">Introdução ao Ruby e Configuração do Ambiente</h3>
        <p class="module-description">Será feita uma pequena introdução sobre a linguagem Ruby e <em>frameworks</em> de teste. Neste módulo será mostrado como realizar a instalação destes componentes.</p>
      </div>
    </li>
    <li class="module">
      <div class="duration">3h</div>
      <div class="info">
        <h3 class="module-title">O ciclo do Desenvolvimento Orientado a Testes</h3>
        <p class="module-description">As fases do ciclo e as regras do TDD serão apresentadas e demonstradas através de um exemplo prático com pseudo-código.</p>
      </div>
    </li>
    <li class="module">
      <div class="duration">8h</div>
      <div class="info">
        <h3 class="module-title">RSpec</h3>
        <p class="module-description">Conceitos básicos como <em>matchers</em> e <em>stubs</em> serão apresentados para que o RSpec possa ser utilizado no desenvolvimento orientado a testes com Ruby.</p>
      </div>
    </li>
    <li class="module">
      <div class="duration">10h</div>
      <div class="info">
        <h3 class="module-title">Mãos na Massa</h3>
        <p class="module-description">Este módulo será 100% prático, o objetivo deste é utilizar todos os conceitos apresentados no curso da forma como o desenvolvedor utiliza-os no cotidiano. Um projeto será desenvolvido orientado a testes e <strong>você</strong> irá aplicar tudo que aprendeu no curso através do desenvolvimento de um segundo projeto (o qual será revisado pelos instrutores).</p>
      </div>
    </li>
    <li class="module">
      <div class="duration">1h</div>
      <div class="info">
        <h3 class="module-title">Resultados e Comentários</h3>
        <p class="module-description">Momento para discussões acerca do curso, bem como do desempenho individual.</p>
      </div>
    </li>
  </ol>
</section>
<section>
  <h2>Como se dará o curso?</h2>
  <p>
    Os assuntos serão disponibilizados por meio de vídeo-aulas curtas, uma média de 10 minutos, através do <a href="http://www.redu.com.br", title="Redu Plataforma Educacional">Redu</a>, onde nós da equipe estaremos disponíveis para incentivar, orientar e esclarecer dúvidas no decorrer do curso. Escolhemos o Redu porque ele também possibilita a interação entre os alunos, o que torna a aprendizagem mais produtiva, pois todos podem colaborar.
  </p>
  <h3>Acompanhamento diferenciado</h3>
  <p>
    Em relação ao acompanhamento, haverá exercícios para solidificar os assuntos apresentados que serão corrigidos pela equipe, inclusive o projeto final que será mais completo, daremos um retorno em relação a forma como foi feito, dicas de refatoração, entre outras melhorias de código que achamos importante.
  </p>
  <h3>Entrega do certificado</h3>
  <p>
    O certificado será entregue online ao final do curso, após a confirmação de que o aluno foi aprovado. O critério de aprovação será a entrega de 70% dos exercícios, o projeto final (devem serguir os critérios de aceitação descritos) e participação nas discussões (que não é obrigatória, mas valerá bônus).
  </p>
  <p>Experimente esta forma de aprender a distância!</p>
</section>
