---
title: Desenvolvimento Orientado a Testes
subtitle: Test-Driven Development – TDD
---
<div class="row">
  <div class="span7 rtf">
    <%= partial "content" %>
  </div>
  <div class="span4">
    <%= partial "sidebar" %>
  </div>
</div>
