
@import "bootstrap-redu";

@import "compass/utilities/general/clearfix";
@import "compass/typography/text/replacement";
@import "compass/css3/text-shadow";
@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

@import "variables";

.call-container {
  background: url("../img/background.png");
  background-size: auto 100%;
  background-color: $blue4;
  margin-top: 40px;
  padding-bottom: 30px;

  .call {
    padding-top: 40px;
  }

  .course-info {
    margin-top: 30px;
    text-align: center;
  }

  .course-name, .subtitle {
    color: $white;
    font-style: normal;
    line-height: 95%;
    .textshadow & {
      @include single-text-shadow(-1px, -1px, 0px, false, rgba(0, 0, 0, .5));
    }
  }

  .course-name {
    font-family: museo-sans-rounded, museo-sans, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 15px;
  }

  .subtitle {
    font-family: museo-sans-rounded-100, museo-sans, "Helvetica Neue", Arial, sans-serif;
    font-weight: 100;
    font-size: 31px;
  }

  .button-join {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 270px;
    font-size: 28px;
    font-weight: bold;
    line-height: 120%;
    padding-top: 13px;

    .price {
      opacity: .85;
      margin-right: 10px;
      font-family: 'Arial Narrow', Arial, sans-serif;

      &:hover { opacity: 1; }
    }

    .currency {
      font-size: 20px;
      font-weight: normal;
      margin-right: 5px;
    }

    .join {
      font-weight: normal;
    }
  }

  .payment {
    display: block;
    margin-top: 5px;
    color: $white;
    line-height: 30px;
    .pagseguro {
      display: inline-block;
      @include replace-text-with-dimensions("pagseguro.png");
    }
    .textshadow & {
      @include single-text-shadow(-1px, -1px, 0px, false, rgba(0, 0, 0, .5));
    }
  }

  .video-wrapper {
    background: url("../img/video.png") no-repeat;
    background-size: auto;
    height: 260px;
  }
}

.recommendation-container {
  padding: 10px 0;
  font-size: 16px;
  font-weight: bold;
  font-family: $museo-sans;
  margin-bottom: 50px;

  .label {
    color: $white;
  }
  .textshadow & {
    @include single-text-shadow(1px, 1px, 1px, false, rgba(0, 0, 0, .5));
  }
  .cssgradients & {
    @include background(linear-gradient($green5 80%, $green4));
  }
}

.rtf {
  h1, h2, h3, h4 {
    margin-bottom: 30px;
  }

  p {
    margin: 10px 0;
  }

  section { margin-bottom: 40px; }
}

.sidebar {
  @mixin circular-photo($size, $border: 3px) {
    overflow: hidden;
    width: $size;
    height: $size;
    border: $border solid white;

    .boxshadow & {
      @include single-box-shadow(rgba(0,0,0,.2), 0, 2px, 6px, 1px);
    }

    .borderradius & {
      @include border-radius($size/2);
    }
  }

  .title {
    @include single-text-shadow(0, 1px, 0, false, #b2b2b2);
    font-family: $museo-sans-rounded-100;
    font-size: 37px;
    border-bottom: 1px solid $gray3;
    padding-bottom: 15px;
    margin-bottom: 20px;
    color: $gray3;
  }

  .teacher-photo {
    @include circular-photo(135px);
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .team-caption {
    text-align: center;
    color: $gray5;
    font-family: $museo-sans;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;

    .team-member-name {
      display: block;
      font-size: 120%;
    }
  }

  .teacher-bio {
    text-align: center;
    margin-bottom: 40px;
   }

   .tutor {
     list-style: none;
     margin: 0;
     padding: 0;

     li {
       @include clearfix;
       margin-bottom: 10px;
     }

     .tutor-info {
       clear: left;
       width: 70px;
       float: left;
       margin-left: 3px;
       margin-right: 15px;
     }

     .tutor-photo {
       @include circular-photo(70px, 1px);
       margin-bottom: 10px;
     }

     .tutor-caption {
       text-align: center;
     }
   }

   .source {
     display: block;
     font-size: 13px;
     margin-top: 10px;
     color: $gray5;
   }
}

.schedule {
  list-style-type: none;
  margin: 0;
  margin-top: 20px;

  .module {
    @include clearfix;
    position: relative;
    background: url("../img/blue-noise.png") repeat-y;
    margin-bottom: 20px;
    .borderradius & {
      @include border-left-radius(5px);
    }
  }

  .duration {
    float: left;
    color: $white;
    font-family: $museo-sans-rounded-500;
    font-size: 29px;
    position: absolute;
    top: 45%;
    left: 10px;

    .textshadow & {
      @include single-text-shadow(0, 1px, 0, false, #b2b2b2);
    }
  }

  .info {
    border: 1px solid $gray4;
    width: 538px;
    padding: 15px 30px 15px 30px;
    float: right;

    .borderradius & {
      @include border-right-radius(5px);
    }
    .cssgradients & {
      @include background(linear-gradient($gray1 70%, $gray3));
    }
  }

  .module-title {
    color: $blue3;
    font-family: $museo-sans;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .module-description {
    color: $gray5;
    margin: 0;
    font-size: 13px;
  }
}

.modal-contact {
  width: 940px;
  left: 35%;
  min-height: 80%;

  .moda-body {
    min-height: 100%;
  }
  iframe {
    width: 100%;
    min-height: 100%;
  }
}

.footer-navigation {
  margin-top: 40px;

  li {
    margin-bottom: 10px;
  }
}
