<section>
  <h2>O que você irá aprender?</h2>

  <p>
    O propósito deste curso é ensinar o <em>framework</em> Scrum, sempre orientado a cases e a atividades práticas. Você aprenderá como aplicar a metodologia ágil para gerenciar atividades de design e desenvolvimento de software.</p>
  <p>
    Os cases serão abordados com o intuito de despertar no aluno o comportamento necessário a aplicação da metodologia. Ou seja, muito mais do que aprender os conceitos em si, você aprenderá como se comportar diante do <em>framework</em> para que ele seja bem utilizado e, principalmente, ágil. Os módulos práticos servirão para simular situações reais do uso do Scrum, principalmente as cerimônias e o planejamento, ambos essenciais para garantir a qualidade dos produtos e serviços desenvolvidos.
  </p>
  <p>Depois de participar do curso de Scrum online, você estará apto à aplicar a metodologia em projetos próprios, na faculdade ou no seu trabalho. Os <em>insights</em> do curso evidenciará o motivo do Scrum ser a metodologia ágil mais disseminada no mundo, o que mostra sua importância no mercado de software.</p>
</section>

<section>
  <h2>Ementa e carga horária</h2>
  <p>
    O curso terá uma carga horária total de <strong>18 horas</strong>, esta quantidade se refere ao total de horas necesssárias, em média, para a conclusão do curso. Portanto, isto inclui o tempo das aulas, bem como o tempo utilizado para resolução dos exercícios e das atividades práticas.
  </p>
  <ol class="schedule">
    <li class="module">
      <div class="duration">0.5h</div>
      <div class="info">
        <h3 class="module-title">Introdução ao Curso</h3>
        <p class="module-description">Neste primeiro módulo você conhecerá a metodologia de ensino online e a ementa do curso.</p>
      </div>
    </li>
    <li class="module">
      <div class="duration">2h</div>
      <div class="info">
        <h3 class="module-title">Introdução ao Scrum</h3>
        <p class="module-description">Será apresentado o framework Scrum, a importância das cerimônias e o manifesto ágil.</p>
      </div>
    </li>
    <li class="module">
      <div class="duration">2h</div>
      <div class="info">
        <h3 class="module-title">Case 1: a simplicidade com foco na iteração</h3>
        <p class="module-description">Será feita uma pequena introdução sobre a linguagem Ruby e <em>frameworks</em> de teste. Neste módulo será mostrado como realizar a instalação destes componentes.</p>
      </div>
    </li>
    <li class="module">
      <div class="duration">0.5h</div>
      <div class="info">
        <h3 class="module-title">Os Papéis no Scrum</h3>
        <p class="module-description">Neste módulo, o papel e a função das pessoas na utilização do Scrum será o </p>
      </div>
    </li>
    <li class="module">
      <div class="duration">0.5h</div>
      <div class="info">
        <h3 class="module-title">O ciclo do Scrum: Sprint</h3>
        <p class="module-description">Conheça a definição do conceito de Sprint e suas práticas.</p>
      </div>
    </li>
    <li class="module">
      <div class="duration">2h</div>
      <div class="info">
        <h3 class="module-title">Case 2: autonomia na prática</h3>
        <p class="module-description">Apresentação do segundo case que traz o comportamento do indivíduo para debate.</p>
      </div>
    </li>
    <li class="module">
      <div class="duration">1h</div>
      <div class="info">
        <h3 class="module-title">Acompanhe com o Daily Scrum</h3>
        <p class="module-description">Conheça o conceito de Daily Scrum e seu propósito.</p>
      </div>
    </li>
    <li class="module">
      <div class="duration">2h</div>
      <div class="info">
        <h3 class="module-title">Estimativa no Scrum: o Planning Poker</h3>
        <p class="module-description">Aprenda como estimar o seu cronograma através do Planning Poker.</p>
      </div>
    </li>
    <li class="module">
      <div class="duration">1h</div>
      <div class="info">
        <h3 class="module-title">Lições aprendidas: a Retrospectiva</h3>
        <p class="module-description">Saiba o que é a Retrospectiva e a sua importância.</p>
      </div>
    </li>
    <li class="module">
      <div class="duration">5h</div>
      <div class="info">
        <h3 class="module-title">Planejamento na prática: Sprint Planning I e II</h3>
        <p class="module-description">Apresentação e prática das cerimônias de planejamento do Scrum.</p>
      </div>
    </li>
    <li class="module">
      <div class="duration">0.5h</div>
      <div class="info">
        <h3 class="module-title">Artefatos e Cerimônias do Scrum</h3>
        <p class="module-description">Comparação dos conceitos de Artefatos e Cerimônias.</p>
      </div>
    </li>
    <li class="module">
      <div class="duration">1h</div>
      <div class="info">
        <h3 class="module-title">Considerações Finais</h3>
        <p class="module-description">Etapa para tirar dúvida sobre os conceitos e a prática do Scrum.</p>
      </div>
    </li>
  </ol>
</section>
<section>
  <h2>Acompanhamento diferenciado</h2>

  <p>
    Para maximizar o aproveitamento por parte dos alunos, o curso contará com uma equipe para interagir com os alunos, estimular a discussão entre pares e adaptar as aulas de acordo com as necessidades da maioria.
  </p>

  <p>Experimente esta forma de aprender a distância!</p>
</section>
