---
title: "Scrum: Autonomia e Agilidade"
subtitle: "Aumente a produtividade da sua equipe"
video_id: "3f1k83M_qAE"
---
<div class="row">
  <div class="span7 rtf">
    <%= partial "content" %>
  </div>
  <div class="span4">
    <%= partial "sidebar" %>
  </div>
</div>
