<div id="contact" class="modal hide modal-fill-height modal-contact">
  <div class="modal-header">
    <h3 class="modal-title">Fale conosco</h3>
  </div>
  <div class="modal-body">
    <iframe src="http://www.redu.com.br/contato?whitelabel=true" frameborder="0"></iframe>
  </div>
</div>
