<div class="footer">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="footer-logo-wrapper">
          <a href="http://tech.redu.com.br/" class="footer-logo-link">
              <h1 class="footer-logo-img sprite-logo-redu-tech-footer text-replacement">Redu Educational Technologies</h1>
</a>          <span class="footer-cnpj">CNPJ: 12.359.885 / 0001-07</span>
        </div>
      </div>
      <div class="span3">
        <ul class="footer-navigation">
          <li>
            <a href="#contact" title="Capacite a equipe da sua empresa com cursos presenciais" data-toggle="modal">Cursos in Company</a>
          </li>
          <li>
            <a href="#contact" title="Conte conosco no desenvolvimento do seu produto" data-toggle="modal">Consultoria</a>
          </li>
          <li>
            <a href="#contact" title="Você terá um profissional para acompanhá-lo individualmente no curso" data-toggle="modal">Acompanhamento Individual</a>
          </li>
        </ul>
      </div>
      <div class="span2">
        <div class="footer-social-networks-legend">
          <span class="legend">Siga-nos na web</span>
        </div>
        <div class="footer-social-networks">
          <a href="https://www.facebook.com/redesocialeducacional" class="footer-social-network sprite-social-facebook text-replacement" title="Facebook">Facebook</a>
        </div>
      </div>
    </div>
  </div>
</div>
