<div class="footer">
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="footer-logo-wrapper">
          <a href="http://tech.redu.com.br/" class="footer-logo-link">
            <h1 class="footer-logo-img sprite-logo-redu-tech-footer text-replacement">Redu Educational Technologies</h1>
          </a>          <span class="footer-cnpj">CNPJ: 12.359.885 / 0001-07</span>
        </div>
      </div>
      <div class="span3">
        &nbsp;
      </div>
      <div class="span3">
        <ul class="footer-navigation">
          <li>
            <a href="http://ajuda.redu.com.br/" target="_blank" title="Central de Ajuda">Central de Ajuda</a>
          </li>
          <li>
            <a href="http://blog.redu.com.br/" title="Blog">Blog</a>
          </li>
          <li>
            <a href="http://developers.redu.com.br/" title="Desenvolvedores">Desenvolvedores</a>
          </li>
          <li>
            <a href="#modal-privacy-policy" data-toggle="modal" title="Política de Privacidade">Política de Privacidade</a>
          </li>
          <li>
            <a href="#modal-tos" data-toggle="modal" title="Termos de Uso">Termos de Uso</a>
          </li>
        </ul>
        <div id="modal-tos" class="modal hide modal-fill-height modal-grids-14 modal-landing" style="visibility: visible; display: none; top: 20px;">
          <div class="modal-header modal-header-gray">
            <h3 class="icon-terms-of-service-darkgray_32_34-before">Termos de Uso</h3>
          </div>
          <div class="modal-body modal-scroll" style="max-height: 494px; height: 494px;">

            <p>Este documento contém os Termos de Uso do ambiente Redu, cuja aceitação plena e integral é requisito para todos os seus participantes. Ele inclui, além dos termos gerais, os termos de limitação de responsabilidade, a política de privacidade e confidencialidade, as licenças de livre uso do conteúdo, e as informações sobre como reportar violações.</p>

            <p>O uso do Redu implica o reconhecimento e a plena aceitação dos termos a seguir.</p>

            <p>Todos os recursos do Redu  que permitem a exibição de conteúdo de autoria de seus usuários são espaços reservados para que sejam trocadas informações educacionais. Todos os que publicam conteúdos são informados destes Termos de Uso no momento de publicação de conteúdos, e sua participação no Redu é o reconhecimento da aceitação dos mesmos.</p>

            <p>O usuário reconhece que todas as contribuições são bem-vindas, desde que respeitadas as condições descritas nestes Termos de Uso.</p>

            <p>Ao visitar, ler, ou interagir com os recursos disponibilizados pelo Redu, você está aceitando todas as condições mencionadas nestes Termos de Uso, com destaque para as seguintes condições gerais:</p>

            <ol>
              <li>O reconhecimento de que não há presunção de anonimato, e de que o conteúdo postado é de sua inteira responsabilidade, não podendo os autores e mantenedores do site serem responsabilizados por quaisquer fatos decorrentes da postagem desse conteúdo.</li>
              <li>O reconhecimento de que as postagens devem obedecer ao escopo e ao objetivo do Redu, mantendo-se dentro do assunto em que estão inseridas, acatando as definições adotadas pelo Redu e sem induzir outros usuários a atitudes tecnicamente incorretas, e sem conter ofensas, vocabulário ofensivo ou desrespeitoso a terceiros, incluindo calúnias, injúrias e difamações.</li>
              <li>O reconhecimento de que a permanência de conteúdos no site deve ser encarada como um privilégio e que, em consequência disso, os operadores do site tomarão as providências necessárias para garantir as condições destes Termos de Uso, sempre que solicitado por alguma parte ofendida, ou que seja verificada a ocorrência de violação, a critério da administração do site.</li>
              <li>O reconhecimento de que a licença livre adotada em seu conteúdo será escolhida no momento da publicação e que ela será mencionada explicitamente na página de publicação do conteúdo</li>
              <li>O reconhecimento de que o conteúdo deve estar de acordo com a legislação em vigor, sem material que possa ser considerado ilegal ou que incite ou favoreça práticas em desacordo com a legislação. E que toda informação registrada usando os recursos do site é considerada como pública, sem nenhum tipo de confidencialidade.</li>
              <li>Para se identificar como autor, poderá o criador do conteúdo enviado ao Redu usar seu nome civil, completo ou abreviado até por suas iniciais, pseudônimo ou qualquer outro sinal convencional (Lei 9.610/1998, Art. 12). Não são permitidos conteúdos de autor não identificado. Embora não seja possível tecnicamente garantir que os pseudônimos e endereços de e-mail fornecidos sejam sempre corretos e identificáveis, a administração do site solicita seu correto preenchimento em todas as ocasiões, e identifica o autor através do registro (e possível exibição) do endereço de origem e do horário de cada postagem.</li>
              <li>A remoção ou edição de conteúdos por iniciativa de seu próprio autor é facultada de acordo com as opções disponíveis na ferramenta de gestão de conteúdo, se houver. Outros casos de edição ou alteração podem ser solicitados pelo autor do conteúdo, de forma fundamentada, via formulário de contato. O atendimento, nestes casos, estará sujeito a análise sob aspectos técnicos e da manutenção da qualidade das discussões.</li>
              <li>Tentativas de abuso do sistema de moderação, ou de abuso sistemático e repetitivo destes Termos de Uso, incluindo a reinclusão de material que já tenha sido previamente moderado, serão prevenidas ou corrigidas por intermédio dos recursos técnicos que estiverem disponíveis, sempre que possível. O protesto contra a moderação pode ser encaminhado pelo formulário de contato, mas será considerado off-topic nas áreas de discussão.</li>
              <li>Logins e identificações de usuário considerados inadequados pela administração do Redu (incluindo casos de mais de um login para o mesmo usuário, ofensas, identificações que possam levar os demais usuários a acreditar que você fala em nome de outra pessoa ou organização) podem ser desativados, removidos, ter seus privilégios de acesso reduzidos ou ter seu conteúdo tornado inacessível sem aviso. O login registrado no Redu, ou a disponibilização de conteúdo no mesmo, não geram nenhum direito de suporte, não cabendo qualquer tipo de reparação, compensação ou outra obrigação do Redu em caso de cancelamento, suspensão, perda, indisponibilidade ou outra situação adversa que afete o acesso, os dados ou o conteúdo do usuário.</li>
            </ol>

            <p>Também deverão ser seguidas as seguintes orientações:</p>

            <ol style="list-style-type: lower-latin;">
              <li>Seja cortês e trate os demais usuários com respeito;</li>
              <li>Preencha corretamente seu endereço de e-mail;</li>
              <li>Se não tiver certeza de algo que vá afirmar, deixe isso bem claro. É plenamente aceitável dizer “Eu acho que…” ou “Sugiro que você tente…” – e agir de outra forma não seria ético;</li>
              <li>Sinta-se à vontade para sugerir links para outros sites, desde que tenham relacionamento direto com o assunto abordado.</li>
            </ol>

            <p>Em caso de dúvidas, use o formulário de contato para solicitar esclarecimento.</p>

            <h5 class="section"><strong>Limitação de responsabilidade</strong></h5>

            <p>Em nenhuma situação o Redu, seus autores, editores ou mantenedores serão responsáveis por quaisquer danos, prejuízos ou outro efeito, direto ou indireto, relacionados ao uso, por parte de seus usuários, leitores ou de qualquer outra pessoa, deste website, de seu conteúdo ou de qualquer outro website aqui mencionado.</p>

            <p>Em especial, o Redu não classifica nem analisa o conteúdo que seus usuários e leitores acrescentam como comentários ou como participações nos fóruns e demais áreas do site, mediadas ou não. Todo autor de conteúdo exibido no Redu retém os seus direitos e responsabilidades autorais, nos termos da Lei 9.610/1998, sem prejuízo dos termos de licenciamento de livre uso, conforme exposto nestes Termos de Uso, no item “Licença de uso do conteúdo”, abaixo.</p>

            <h5 class="section"><strong>Política de privacidade e confidencialidade</strong></h5>

            <p>O Redu não deseja nem aceita receber ou intermediar material confidencial por nenhuma das ferramentas oferecidas ou mencionadas no site, nem pelos contatos de sua equipe. Toda informação enviada pelos recursos do site ou recebida por intermédio deles ou dos endereços de contato de sua equipe será tratada como não sendo confidencial, independente de qualquer declaração do autor da comunicação que não tenha sido previamente aceita por escrito pelos responsáveis pelo Redu</p>

            <p>O envio de material para o site implica em a parte que está enviando aceitar responsabilidade plena e não compartilhada com o Redu quanto ao conteúdo enviado, e quanto às implicações legais e morais de sua eventual publicação.</p>

            <h5 class="section"><strong>Licença de uso do conteúdo</strong></h5>

            <p>Todo autor de conteúdo exibido no Redu retém os seus direitos e responsabilidades autorais, nos termos da Lei 9.610/1998, sem prejuízo dos termos de licenciamento de livre uso, expostos a seguir.</p>

            <p>Exceto quando mencionado explicitamente, ou quando se tratar de citação (adequadamente indicada no corpo do texto, por intermédio de tipo diferenciado, aspas e/ou margem esquerda adicional) de material alheio ou ilustração, nos limites estabelecidos pela Lei 9.610/98, todo o conteúdo textual original do Redu está disponível livremente para leitura, uso, redistribuição ou modificação, entre outros direitos, conforme definido na licença Creative Commons.</p>

            <h5 class="section"><strong>Como reportar violações</strong></h5>

            <p>Se algum conteúdo do Redu violar algum direito seu ou a legislação aplicável, entre em contato pelos endereços indicados abaixo, mencionando de forma específica e detalhada:</p>

            <ul>
              <li>o título da página específica em que se encontra a violação;</li>
              <li>o endereço (URL) da página específica em que se encontra a violação;</li>
              <li>a natureza da violação;</li>
              <li>o trecho específico em que ocorre a violação;</li>
              <li>a providência desejada; e</li>
              <li>as suas informações de contato, incluindo e-mail</li>
            </ul>

            <p>De posse destas informações, o Redu poderá analisar e resolver a questão tão breve quanto possível. Caso a informação esteja incompleta, ou com detalhamento insuficiente, o Redu entrará em contato para solicitar a complementação, possivelmente atrasando a providência desejada.</p>

            <p>São aceitas comunicações de violações e solicitações de providências pelos seguintes endereços:</p>

            <p><a href="mailto:contato@redu.com.br">contato@redu.com.br</a></p>

            <p>Comunicações de violações e solicitações de providências enviadas por outros canais não serão recebidas. Comunicações de violações e solicitações de providências enviadas sem identificação completa do requerente e descrição detalhada e justificada da violação não serão atendidas. O Redu responderá preferencialmente ao endereço de e-mail do requerente, indicado na sua mensagem enviada pelos canais acima.</p>

            <h5 class="section"><strong>Inexistência de Vínculo</strong></h5>

            <p>Estes Termos de Uso não importam na criação de qualquer vínculo trabalhista, societário, de parceria ou associativo entre o usuário-colaborador e o Redu, sendo excluídas quaisquer presunções de solidariedade entre ambos no cumprimento de suas obrigações.</p>

            <h5 class="section"><strong>Disposições Finais</strong></h5>

            <p>Estas Condições Gerais serão regidas e interpretadas de acordo com a legislação brasileira. Fica eleito o Foro da Comarca de Recife, Estado de Pernambuco, para dirimir questões relativas a estas Condições Gerais, com renúncia expressa a qualquer outro.</p>

            <p>Estes termos de uso podem ser modificados pelo Redu, e as modificações terão efeito a partir da data de sua publicação no website, mediante a sua comunicação em local que seja de fácil identificação para o usuário.</p>

            <h5 class="section"><strong>Referência</strong></h5>

            <p>Estes Termos foram remixados dos sites BR-Linux, Flickr,  CulturaDigitalBr.</p>

            <p class="legend">Atualizado pela última vez em: maio de 2013</p>
            <span class="modal-scroll-arrow" style="top: 595px; left: 124.5px;">↓</span></div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="button-default">Voltar</button>
          </div>
        </div>

        <div id="modal-privacy-policy" class="modal hide modal-fill-height modal-grids-14 modal-landing" style="visibility: visible; display: none; top: 20px;">
          <div class="modal-header modal-header-gray">
            <h3 class="icon-privacy-policy-darkgray_32_34-before">Política de Privacidade</h3>
          </div>
          <div class="modal-body modal-scroll" style="max-height: 494px; height: 494px;">
            <p>Essa política descreve as condutas e os procedimentos, adotados pelo Redu, acerca da coleta, do uso e da divulgação das informações relacionadas à utilização dos produtos e serviços da plataforma Redu.</p>

            <h5><strong>Da coleta e uso das informações</strong></h5>

            <p>As informações são coletadas com o intuído de aprimorar os serviços utilizados pelos nossos usuários. Essas são coletadas e utilizadas de diversas maneiras:</p>

            <p><strong>Informações solicitadas durante o registro:</strong> Ao criar ou reconfigurar uma conta no Redu, o usuário fornece algumas informações pessoais, como seu nome, nome de usuário, senha e endereço de e-mail. Algumas dessas informações, por exemplo, seu nome e nome de usuário, são listados publicamente, incluso na sua página de perfil e em resultados de pesquisa realizados no site.</p>

            <p><strong>Informações complementares:</strong> O usuário pode fornecer informações adicionais para tornar públicas, como uma breve biografia, sua localização, a instituição de ensino a que se vincula e/ou uma imagem.</p>

            <p><strong>Mensagens, vídeo-aulas, exames e outras informações públicas:</strong> Nossos serviços são principalmente concebidos para ajudá-lo a compartilhar as informações com outros usuários. Dessa forma, a maioria das informações postadas é pública, havendo a opção de torná-la privada. Incluindo-se nessa política não apenas as mensagens que o usuário postou, mas também os outros usuários que esse segue, a opção de marcar como favoritos e outras informações que vierem a ser disponibilizada pelo usuário.</p>

            <p><strong>Registro de dados:</strong> Nossos servidores automaticamente registram a informação criada pelo uso dos serviços. O registro de dados pode incluir informações como seu endereço IP, tipo de navegador, o domínio de referência, páginas visitadas, e os termos de busca. Outras ações, tais como a interação com os anúncios, também podem ser incluídas no registro de dados.</p>

            <p><strong>Cookies:</strong> Utilizamos cookies para recolher dados adicionais de uso do site e para melhorar nossos serviços. Um cookie é um pequeno arquivo de dados que são transferidos para o disco rígido do seu computador. O Redu pode utilizar cookies de sessão e cookies persistentes para entender melhor como o usuário interage com nossos serviços, para monitorar o uso agregado por nossos visitantes e tráfego web de roteamento em nossos serviços.</p>

            <p><strong>Serviços de terceiros:</strong> O Redu usa o Google Analytics para ajudar a entender o uso dos nossos serviços. Através do Google Analytics o Redu recolhe as informações enviadas pelo seu navegador, como parte de uma solicitação de página da web, incluindo cookies eo seu endereço IP. O Google também recebe informações e seu uso é regido por sua <a href="http://www.google.com/policies/privacy/" title="Política de Privacidade">Política de Privacidade da Google</a>.</p>

            <h5><strong>Do compartilhamento de divulgação de informações</strong></h5>

            <p>O Redu não compartilha, nem divulga suas informações privadas, exceto com o objetivo de fornecer aos usuários o produto e/ou serviços solicitados, tendo obtido para tanto a sua permissão, ou nas circunstâncias excepcionais descritas a seguir:</p>

            <p>Fornecemos as informações disponibilizadas, com os nossos parceiros. Essas empresas parceiras poderão usar os dados disponibilizados com o objetivo de auxiliar o Redu na prestação do serviço ao qual se destina. Contudo, tais empresas não possuem direito de compartilhar quaisquer informações com terceiros estranhos a essa relação.</p>

            <p>Podemos revelar suas informações, para atendermos a ordens judiciais nos termos da legislação em vigor, ou em processos judiciais para estabelecer ou exercer nossos direitos legais ou empreender defesa contra ações judiciais. Bem como, quando acreditarmos de boa-fé ser necessário compartilhar informações com o objetivo de investigar, impedir ou adotar medidas relativas a atividades ilegais, suspeitas de fraude, situações envolvendo possíveis ameaças à segurança física de qualquer pessoa, violações do Termo de uso do Redu ou com outros objetivos, com procedimentos especificados e autorizados pela&nbsp; lei.</p>

            <p>Caso o Redu esteja envolvido em uma falência, fusão, aquisição, reestruturação ou venda de ativos, suas informações podem ser vendidas ou transferidas como parte dessa transação. As promessas nesta política de privacidade serão aplicáveis às suas informações como transferidos para a nova entidade.</p>

            <p>Podemos compartilhar ou divulgar as suas informações que não são privadas, agregados ou informações pessoais, como seus comentários públicos ou o número de usuários que clicaram em um link específico.</p>

            <h5><strong>Da confidencialidade e segurança</strong></h5>

            <p>Limitamos o acesso às informações pessoais que temos sobre o usuário aos nossos empregados que, conforme acreditamos, possam ter necessidade delas para exercer suas funções que visam fornecer a você nossos produtos e serviços.</p>

            <h5><strong>Das mudanças nesta política</strong></h5>

            <p>O Redu pode atualizar essa política. Havendo alguma alteração em nossa Política de Privacidade, enviaremos uma notificação para o endereço de e-mail associado a conta do usuário. Ao continuar a utilizar os serviços após as alterações se tornarem eficaz, o usuário concorda em ficar vinculado a essa.</p>

            <p>Qualquer dúvida ou sugestão sobre nossa política de privacidade, por favor envie um e-mail para <a href="mailto:privacidade@redu.com.br" title="privacidade@redu.com.br">privacidade@redu.com.br</a></p>

            <p>Atualizado pela última vez em: <em>março de 2012</em></p>
            <span class="modal-scroll-arrow" style="top: 595px; left: 124.5px;">↓</span></div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="button-default">Voltar</button>
          </div>
        </div>

      </div>
      <div class="span3">
        <div class="footer-social-networks-legend">
          <span class="legend">Siga-nos na web</span>
        </div>
        <div class="footer-social-networks">
          <a href="https://www.facebook.com/redesocialeducacional" class="footer-social-network sprite-social-facebook text-replacement" title="Facebook">Facebook</a>
          <a href="http://twitter.com/redu_ead" class="footer-social-network sprite-social-twitter text-replacement" title="Twitter">Twitter</a>
        </div>
      </div>
      <div class="span3">
        <div class="footer-contact link-container">
          <div class="row">
            <div class="span2">
              <h3>
                <a href="/contato" class="link-target" title="Fale Conosco">Fale Conosco</a>
              </h3>
              <p class="legend">Dúvidas? Nosso suporte online pode lhe ajudar</p>
            </div>
            <div class="span1 alpha-half">
              <span class="footer-talk-to-us-balloons sprite-talk-to-us text-replacement" title="Fale Conosco">Fale conosco</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
