<div class="call-container">
  <div class="container">
    <div class="row call">
      <div class="span7 course-info">
        <h1 class="course-name"><%= title %></h1>
        <em class="subtitle"><%= subtitle %></em>

        <a href="#payment" class="button-success button-big button-join" data-toggle="modal">
          <span class="price"><span class="currency">R$ </span>259,00</span>
          <span class="join">Participar</span>
        </a>
        <span class="payment">Em até 12 vezes pelo <span class="pagseguro">PagSeguro</span></span>

        <%= partial "payment_modal" %>
      </div>

      <div class="span5">
        <video id="qz5DjMnZRVc" class="sublime" poster="http://d1tijy5l7mg5kk.cloudfront.net/assets/img-gregg-d12d41b6b635bd59c5f40f4c0e0ed07f.jpg" width="470" height="264" data-uid="qz5DjMnZRVc" data-youtube-id="qz5DjMnZRVc" data-autoresize="fit" preload="none">
        </video>
      </div>
    </div>
  </div>
</div>
