<li>
  <div class="teacher-photo"><%= image_tag "membros-jubs.jpg" %></div>
  <p class="team-caption"><a href="http://github.com/julianalucena" target="_blank" class="team-member-name">Juliana Lucena</a> Instrutor</p>
  <p class="teacher-bio">Sou encantada por linguagens de programação e pela comunidade Ruby; aos trancos e barrancos aprendi a valorizar e hoje admiro o client-side. Sócia do Redu Educational Technologies, graduei-me em Ciência da Computação pela UFPE – CIn.</p>
</li>
