<li>
  <div class="teacher-photo"><%= image_tag "membros-txi.jpg" %></div>
  <p class="team-caption"><a href="https://github.com/fltiago" target="_blank" class="team-member-name">Tiago Ferreira Lima</a> Instrutor</p>
  <p class="teacher-bio">Adoro Ruby, banco de dados relacionais e, agora, não-relacionais. Tenho um relacionamento de amor e ódio com desenvolvimento Web client-side. Sócio do Redu Educational Technologies e formado em Ciência da Computação pela UFPE/CIn.</p>
</li>
