<li>
  <div class="teacher-photo"><%= image_tag "membros-deds.jpg" %></div>
  <p class="team-caption"><a href="http://br.linkedin.com/in/andredinizmoraes" target="_blank" class="team-member-name">André Diniz de Moraes</a>Gerente de Projetos</p>
  <p class="teacher-bio">Sou entusiasta e especialista no framework Scrum, também sou fascinado por Empreendedorismo e Design Thinking. Co-fundador da empresa Redu Educational Technologies e curioso em Psicologia.</p>
</li>
