<li>
  <div class="teacher-photo"><%= image_tag "membros-guila.jpg" %></div>
  <p class="team-caption"><a href="http://github.com/guiocavalcanti" target="_blank" class="team-member-name">Guilherme Cavalcanti</a> Instrutor</p>
  <p class="teacher-bio">Raízes em desenvolvimento Web client-side e amante de Ruby e linguagens dinâmicas nos dias atuais. Co-fundador da empresa Redu Educational Technologies. Fascinado por sistemas distribuídos e aplicações baseadas em rede.</p>
</li>
