<div class="nav-global nav-global-fixed-top">
  <div class="nav-global-inner">
    <div class="nav-global-container">
      <a class="nav-global-brand text-replacement logo-redu-gray_140_40" href="http://0.0.0.0?embeded=true" title="Redu">Redu</a>
      <div class="nav-global-buttons">
        <!-- FOR EACH BUTTON -->
        <a class="nav-global-button" href="#contact" title="Entre em contato conosco" data-toggle="modal">Contato</a>
        <!-- END -->
      </div>
    </div>
  </div>
</div>

<%= partial "contact_modal" %>
