<div class="recommendation-container">
  <div class="container">
    <div class="fb-wrapper fb-like-button-wrapper">
    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fredesocialeducacional&amp;send=false&amp;layout=box_count&amp;width=1140&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=65&amp;appId=142857189169463" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:1140px; height:65px;" allowTransparency="true" class="like-button"></iframe>
    </div>
    <div class="fb-wrapper">
      <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fredesocialeducacional&amp;send=false&amp;layout=standard&amp;width=1140&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=80&amp;appId=142857189169463" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:1140px; height:80px;" allowTransparency="true" class="fb-faces"></iframe>
    </div>
  </div>
</div>

