<div class="span4 sidebar">
  <h3 class="title">Equipe</h3>
  <ul>
    <% ["member_guila", "member_jubs", "member_txi"].shuffle.each do |member_infos| %>
      <%= partial member_infos %>
    <% end %>
  </ul>

  <h3 class="title">Depoimentos</h3>
  <blockquote>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <small class="source">— commodo consequat</small>
  </blockquote>
  <blockquote>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <small class="source">— commodo consequat</small>
  </blockquote>
</div>
