<div class="span4 sidebar">
  <h3 class="title">Equipe</h3>
  <div class="teacher-photo"><%= image_tag "thumbnail_09.jpg" %></div>
  <p class="team-caption"><span class="team-member-name">Guilherme Cavalcanti</span> Instrutor</p>
  <p class="teacher-bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

  <ul class="tutor">
    <li>
      <div class="tutor-info">
        <div class="tutor-photo"><%= image_tag "thumbnail_07.jpg" %></div>
        <p class="team-caption">Tutor</p>
      </div>
      <p class="tutor-bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </li>
    <li>
      <div class="tutor-info">
        <div class="tutor-photo"><%= image_tag "thumbnail_07.jpg" %></div>
        <p class="team-caption">Tutor</p>
      </div>
      <p class="tutor-bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </li>
  </ul>
  <h3 class="title">Depoimentos</h3>
  <blockquote>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <small class="source">— commodo consequat</small>
  </blockquote>
  <blockquote>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <small class="source">— commodo consequat</small>
  </blockquote>
</div>
