---
title: TDD, desenvolvimento orientado a testes
subtitle: Breve explicação do curso
---
<div class="row">
  <div class="span7 rtf">
    <%= partial "content" %>
  </div>
  <div class="span4">
    <%= partial "sidebar" %>
  </div>
</div>
